<div class="max-w-xl mx-auto p-6">
  <h1 class="text-xl font-bold mb-4"><%= t("views.shops.edit.title") %></h1>

  <%= form_with model: [@event, @shop], local: true do |f| %>
    <% if @shop.errors.any? %>
      <div class="alert alert-error mb-4">
        <ul>
          <% @shop.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= f.label :name, t("views.shops.edit.name_label") %><br>
      <%= f.text_field :name, class: "input input-bordered w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :url, t("views.shops.edit.url_label") %><br>
      <%= f.text_field :url, class: "input input-bordered w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :address, t("views.shops.edit.address_label") %><br>
      <%= f.text_field :address, class: "input input-bordered w-full" %>
    </div>

    <div class="mb-4">
      <%= f.label :memo, t("views.shops.edit.memo_label") %><br>
      <%= f.text_area :memo, class: "textarea textarea-bordered w-full" %>
    </div>

    <div class="flex gap-2">
      <%= f.submit t("common.update"), class: "btn btn-primary" %>
      <%= link_to t("common.back"), event_path(@event), class: "btn btn-ghost" %>
    </div>
  <% end %>
</div>
