<h1 class="text-xl font-bold mb-4">お店候補を登録</h1>

<%= form_with model: [@event, @shop], local: true do |f| %>

  <% if @shop.errors.any? %>
    <div class="alert alert-error mb-4">
      <ul>
        <% @shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :name, "店舗名" %><br>
    <%= f.text_field :name, class: "input input-bordered w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :url, "リンク" %><br>
    <%= f.text_field :url, class: "input input-bordered w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :address, "住所（任意）" %><br>
    <%= f.text_field :address, class: "input input-bordered w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :memo, "メモ" %><br>
    <%= f.text_area :memo, class: "textarea textarea-bordered w-full" %>
  </div>

  <div>
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>

<% end %>