<div class="max-w-6xl mx-auto p-6 space-y-8">

  <%= render "event_header",
      event: @event,
      participating: @participating %>

  <%= render "participants", participants: @participants %>

  <%= render "preferences",
      event: @event,
      event_preferences: @event_preferences,
      event_preference: @event_preference,
      participating: @participating %>

  <%= render "ranking",
      top_shops: @top_shops %>

  <%= render "shops",
      event: @event,
      shops: @shops %>

</div>