<p><%= t("views.devise.mailer.greeting_with_name", name: (@resource.name.presence || @resource.email)) %></p>

<p><%= t("views.devise.mailer.reset_password_instructions.intro") %></p>

<p><%= t("views.devise.mailer.reset_password_instructions.instruction") %></p>

<p><%= link_to t("views.devise.mailer.reset_password_instructions.action"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("views.devise.mailer.reset_password_instructions.ignore_message") %></p>
<p><%= t("views.devise.mailer.reset_password_instructions.unchanged_message") %></p>
