<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main class="px-4">
      <% if flash[:notice].present? %>
        <div class="alert alert-success mb-4">
          <span><%= flash[:notice] %></span>
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div class="alert alert-error mb-4">
          <span><%= flash[:alert] %></span>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>